.idea
/20??-??
/tests/releases/2025-02
/tests/releases/2025-03
/tests/releases/2025-04
/tests/releases/2025-05
/tests/releases/2025-06
/tests/releases/2025-07
/tests/releases/2025-08
dump_*sql*
mapping_cache.*
NC_cache.txt
output_*
/settings.json
stats.txt
statistics.json
verification_*
vkgl_consensus_*
vkgl_errors_*
vkgl_internal_*
vkgl_opposites_*

